<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=Enter_DB_Here;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!-- Data Migration -->
    <!--<add name="DEV" connectionString="Data Source=(dev);Initial Catalog=Enter_DB_Here;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Local" connectionString="Data Source=(local);Initial Catalog=Enter_DB_Here;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>